
<div class="pb-5 px-sm-5 px-3 container-fluid ">

    <div class="row justify-content-center">
      <h1 class="title-section text-center px-4 w-100">{{ section.settings.title-section }}</h1>
    </div>
    <div class="owl-carousel owl-theme">
        {% for products in collection %}        
      <div class="card item-food card position-relative">
        <img class="card-img-top" src="assets/hors1.jpg" alt="Food">
        <div class="tag-price">50$</div>
        <div class="card-footer  p-0 d-flex justify-content-between">
          <span class="name-plate">Hors Dish 1</span>
          <a href="#" role="button" class="btn-primary-small"><i class="bx bx-tada-hover bx-cart"></i></a>
        </div>
      </div>
        {% endfor %}    



    </div>
  </div>

  {% style %}
  
.menu-food-sub .title-section {
  padding-bottom: 50px;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.menu-food-sub .title-section:before {
  content: "";
  background: var(--primary);
  width: 80%;
  height: 2px;
  position: absolute;
  width: 20%;
  bottom: 35px;
}

@media (max-width: 575px) {
  .menu-food-sub .title-section:before {
    display: none;
  }
}
  {% endstyle %}