

<div class="card item-food card position-relative">
    
    <div class="tag-price">{{price}}</div>
    <div class="card-footer  p-0 d-flex justify-content-between">
      <span class="name-plate">Hors Dish 1</span>
      <a href="#" role="button" class="btn-primary-small"><i class="bx bx-tada-hover bx-cart"></i></a>
    </div>
    <p class="d-none description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita adipisci
      omnis labore
      hic corporis impedit, voluptate quibusdam sint itaque temporibus ipsum, facere neque exercitationem
      dignissimos voluptates maxime tempora eius sapiente.</p>
</div>