
.hero {
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  min-height: 600px; 
  height: 100vh;
  position: relative;
  min-width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.hero .hero-action {
  height: auto;
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 575px) {
  .hero .hero-action {
    width: 100%;
    padding-left: 40px;
    padding-right: calc(50px + 40px);
  }
}

@media (max-width: 360px) {
  .hero .hero-action {
    width: 100%;
    padding-left: 10px;
    padding-right: calc(30px + 10px);
  }
}

.hero .hero-action h1 {
  font-family: "Poppins-Bold", sans-serif;
  font-size: 1.8em;
  font-style: normal;
  font-weight: inherit;
  color: white;
  margin-bottom: 0;
  text-align: left;
  width: auto;
  padding: 5px 50px 5px 80px;
}

@media (max-width: 767px) {
  .hero .hero-action h1 {
    padding-left: 20px !important;
  }
}

@media (max-width: 575px) {
  .hero .hero-action h1 {
    padding: 0 !important;
    text-align: center;
  }
}

.hero .hero-action .container-text {
  background: linear-gradient(296deg, rgba(233, 233, 233, 0) 0.02%, #3e3e3e 99.93%);
}

.hero .hero-action .btn-primary {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 70px;
  margin-right: 30px;
  margin-bottom: -70px;
  width: 254px;
  height: 3.5em;
}

@media (max-width: 360px) {
  .hero .hero-action .btn-primary {
    padding: 0 1.5em;
  }
}

@media (max-width: 575px) {
  .hero .hero-action .btn-primary {
    margin-right: 0px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 204px;
  }
}

.hero::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.hero::before {
  content: '';
  position: absolute;
  width: 350px;
  height: 100%;
  right: 0;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#eb820033), to(#f5c15a52));
  background: linear-gradient(#eb820033 0%, #f5c15a52 100%);
  min-width: 350px;
}

@media (max-width: 767px) {
  .hero::before {
    width: 200px !important;
    min-width: 200px;
  }
}

@media (max-width: 360px) {
  .hero::before {
    width: 180px !important;
    min-width: 180px;
  }
}

.hero .social-bar {
  background: white;
  height: 101%;
  width: 60px;
  position: absolute;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 0;
  top: 0;
  z-index: 1;
}

.hero .social-bar a {
  color: #383838;
}

.hero .social-bar a:hover {
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
  color: #FF9900;
}

@media (max-width: 767px) {
  .hero .social-bar {
    width: 50px;
  }
}

@media (max-width: 360px) {
  .hero .social-bar {
    width: 30px;
  }
}

.hero .social-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .social-bar ul li {
  font-family: "Kanit-Bold", sans-serif;
  font-size: 0.7em;
  font-style: normal;
  font-weight: inherit;
  margin: 10px;
}

.hero .social-bar .large-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: inherit;
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 90px;
  color: #FFFFFF;
  opacity: 0.6;
  padding-top: 10%;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: scaleY(-1) scaleX(-1) rotate(180deg);
          transform: scaleY(-1) scaleX(-1) rotate(180deg);
  left: 0px;
  top: 0;
}

@media (max-width: 767px) {
  .hero .social-bar .large-text {
    left: 0px !important;
    font-size: 50px;
  }
}

@media (max-width: 575px) {
  .hero .social-bar .large-text {
    font-size: 33px;
    left: 9px !important;
    padding-top: 2%;
  }
}

@media (max-width: 360px) {
  .hero .social-bar .large-text {
    font-size: 25px;
    left: 0px !important;
  }
}

nav, ul {
  padding: 0 !important;
  margin: 0 !important;
}

nav li, ul li {
  cursor: pointer;
}

.modal-menu {
  width: 100%;
  height: 100%;
  background: rgba(241, 241, 241, 0.877);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.modal-menu .my-logo-mobile-menu {
  background-image: url("../Logo Negro.png");
  background-size: cover;
  width: 200px;
  height: 200px;
  background-position: center;
  margin-bottom: 50px;
}

.modal-menu .logo-ref {
  background-color: transparent !important;
  border: none !important;
}

.modal-menu nav {
  position: fixed;
  top: 25%;
}

.modal-menu ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  font-family: "Kanit", sans-serif;
  font-size: 0.8em;
  font-style: normal;
  font-weight: inherit;
  background-color: #D88100 !important;
  margin-top: 15px;
  border: solid 1px white;
  height: 40px;
}

.modal-menu ul li a:hover {
  border: solid 0.5px #ffffff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.modal-menu .closeMenu {
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: fixed;
  top: 10px;
  right: 10px;
  border: none;
  border-radius: 50%;
}

header {
  z-index: 10;
  width: 100%;
  position: absolute;
}

header .logo-top {
  margin-left: 5vw;
  background-image: url("../logo Blanco.png");
}

header .topheader-with-background {
  background-color: white;
}

header .topheader-with-background .logo-top {
  background-image: url("../logo Negro.png") !important;
}

header .topheader-with-background a, header .topheader-with-background i {
  color: black;
}

header .topheader-with-background .line-menu {
  background-color: black !important;
}

header .topheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  z-index: 10;
  height: 100px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

header .topheader a:hover {
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
  color: #FF9900;
}

header .topheader a i:hover {
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
  color: #FF9900;
}

header .topheader > nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  margin-right: 60px !important;
}

header .topheader > nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .topheader > nav ul li {
  font-family: "Kanit-Bold", sans-serif;
  font-size: 0.75em;
  font-style: normal;
  font-weight: inherit;
  color: white;
}

header .topheader > nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
}

header .topheader > nav ul i {
  font-size: 1.2em;
}

header .topheader > nav ul .line-menu {
  height: 26px;
  width: 1px;
  background-color: white;
}

header .topheader > nav .icon-menu {
  width: calc(350px - 60px);
  min-width: calc(350px - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .topheader > nav .text-menu {
  padding-right: 8% !important;
}

@media screen and (max-width: 850px) {
  header .topheader > nav .text-menu {
    padding-right: 1% !important;
  }
}

@media (max-width: 767px) {
  header .topheader > nav .text-menu {
    padding-right: 0 !important;
  }
}

@media (max-width: 767px) {
  header .topheader > nav {
    width: calc(200px - 50px) !important;
    margin-right: 50px !important;
  }
  header .topheader > nav ul {
    width: calc(200px - 50px) !important;
    min-width: calc(200px - 50px) !important;
  }
  header .topheader > nav .tablets-hide {
    display: none !important;
  }
  header .topheader > nav .icon-menu {
    width: calc(200px - 50px);
    min-width: calc(200px - 50px);
  }
}

@media (max-width: 360px) {
  header .topheader > nav {
    width: calc(180px - 30px) !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 30px !important;
  }
  header .topheader > nav .icon-menu {
    width: calc(180px - 30px);
  }
}

header .topheader .logo-top {
  margin-left: 5vw;
  width: 100px;
  height: 183px;
  min-width: 105px;
  min-height: 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.best-sellers {
  padding-top: 50px;
  height: auto;
}

.best-sellers .owl-carousel {
  position: relative;
}

.best-sellers .owl-carousel .owl-dots {
  position: absolute;
  right: 0;
  bottom: -50px;
}

.best-sellers .title-section {
  position: relative;
}

.best-sellers .title-section:before {
  content: "";
  background: #FF9900;
  width: 80%;
  height: 2px;
  position: absolute;
  width: 41%;
  left: -45%;
  bottom: 20px;
}

@media (max-width: 575px) {
  .best-sellers .title-section:before {
    display: none;
  }
}

.best-sellers .btn-primary {
  max-width: 254px;
  margin-top: 50px;
}

.best-sellers .description {
  padding-bottom: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  word-wrap: break-word;
  padding-right: 15%;
}

@media (max-width: 767px) {
  .best-sellers .description {
    padding-right: 0;
  }
}

.best-sellers .col-text {
  padding-left: 8% !important;
  min-width: 390px;
}

.best-sellers .col-carousel {
  padding-right: 5% !important;
}

@media screen and (max-width: 989px) {
  .best-sellers .col-carousel {
    padding-right: 10% !important;
    padding-left: 5% !important;
  }
}

@media (max-width: 767px) {
  .best-sellers .col-carousel {
    padding-right: 8% !important;
    padding-left: 8% !important;
  }
}

.best-sellers .col-carousel .btn-primary-small {
  color: white !important;
  margin-right: 1px;
  pointer-events: none;
}

.best-sellers .col-carousel .btn-primary-small i {
  pointer-events: all;
}

@media (max-width: 767px) {
  .best-sellers .col-text {
    padding-left: 8% !important;
    padding-right: 8% !important;
  }
}

@media (max-width: 575px) {
  .best-sellers .col-text {
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
  .best-sellers .col-carousel {
    padding-right: 5% !important;
    padding-left: 5% !important;
  }
}

.best-sellers .tag-price {
  position: absolute;
  top: 15px;
  left: 0;
  height: 35px;
  padding: 8px 30px;
  background: #FF9900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
  color: white;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 0.75em;
  font-style: normal;
  font-weight: inherit;
  -webkit-box-shadow: 4px 6px 45px -14px rgba(0, 0, 0, 0.75);
          box-shadow: 4px 6px 45px -14px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 860px) {
  .best-sellers .col-text {
    padding-left: 40px;
    min-width: 250px;
  }
}

.aboutUs {
  padding-top: 50px;
}

.aboutUs .title-section {
  position: relative;
}

.aboutUs .title-section:before {
  content: "";
  background: #FF9900;
  width: 80%;
  height: 2px;
  position: absolute;
  bottom: 20px;
  left: -60%;
  z-index: 5;
  width: 55%;
}

@media (max-width: 575px) {
  .aboutUs .title-section:before {
    display: none;
  }
}

.aboutUs .about-info {
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#575757));
  background: linear-gradient(180deg, #000000 0%, #575757 100%);
  color: white;
  padding: 5% 5% 5% 3%;
}

@media (max-width: 767px) {
  .aboutUs .about-info {
    padding: 5% 3% 5% 3%;
  }
}

@media (max-width: 575px) {
  .aboutUs .about-info {
    padding: 5%;
  }
}

.aboutUs .about-info h1, .aboutUs .about-info h2 {
  margin-left: 15px;
}

.aboutUs .about-info p {
  color: white;
}

.aboutUs .about-info .title {
  color: white;
}

.aboutUs .about-info .container-text {
  padding-left: 18%;
}

@media (max-width: 575px) {
  .aboutUs .about-info .container-text {
    padding-left: 0;
  }
}

.aboutUs .about-img {
  position: relative;
}

.aboutUs .about-img .img-background {
  background: #D88100;
  height: 95%;
  width: 95%;
  position: absolute;
  right: -3%;
  bottom: -7%;
  z-index: 5;
  max-height: 550px;
}

@media screen and (max-width: 940px) {
  .aboutUs .about-img .img-background {
    top: 10%;
  }
}

@media (max-width: 767px) {
  .aboutUs .about-img .img-background {
    top: 8%;
  }
}

@media (max-width: 575px) {
  .aboutUs .about-img .img-background {
    position: static;
    width: 100%;
    height: 100%;
  }
}

.aboutUs .about-img .img-background img {
  position: absolute;
  right: -16%;
  bottom: 3%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 113.5%;
  height: 100%;
  -o-object-position: right;
     object-position: right;
}

@media (max-width: 767px) {
  .aboutUs .about-img .img-background img {
    width: 110.5%;
  }
}

@media (max-width: 575px) {
  .aboutUs .about-img .img-background img {
    position: static;
    width: 100%;
    height: 100%;
    min-height: 280px;
  }
}

.aboutUs .btn-primary {
  margin-top: 50px;
}

.cyan {
  background-color: aqua;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.yellow {
  background: yellow;
}

.blue {
  background-color: blue;
}

.menu-food {
  height: auto;
  padding-top: calc(50px + 50px);
  padding-bottom: 50px;
}

@media screen and (max-width: 940px) {
  .menu-food {
    padding-top: 50px;
  }
}

.menu-food .title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.menu-food .title-section:before {
  content: "";
  background: #FF9900;
  width: 80%;
  height: 2px;
  position: absolute;
  bottom: -3px;
  width: 200px;
}

@media (max-width: 575px) {
  .menu-food .title-section:before {
    display: none;
  }
}

.menu-food .banner-image {
  width: 100%;
  height: 100%;
  background-color: #000000;
  border: none !important;
  outline: none !important;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  .menu-food .banner-image {
    height: 202px !important;
  }
}

.menu-food .banner-image .image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.menu-food .banner-image:hover .image {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.testimonials {
  background-color: #C4C4C43D;
  padding-top: 50px;
}

.testimonials .col-md-6 {
  padding: 0 5%;
}

.testimonials .grid-carousel {
  width: 350px;
}

@media (max-width: 767px) {
  .testimonials .grid-carousel {
    width: 360px;
  }
}

@media screen and (max-width: 390px) {
  .testimonials .grid-carousel {
    width: 250px;
  }
}

.testimonials .title-section {
  position: relative;
}

.testimonials .title-section:before {
  content: "";
  background: #FF9900;
  width: 80%;
  height: 2px;
  position: absolute;
  width: 60%;
  left: -45%;
  bottom: 22px;
}

@media (max-width: 575px) {
  .testimonials .title-section:before {
    display: none;
  }
}

.testimonials .btn-primary {
  margin-top: 50px;
}

.testimonials p {
  padding-bottom: 30px;
}

.testimonials .btn-primary {
  margin-left: 20%;
  margin-top: 30px;
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .testimonials .btn-primary {
    margin-left: 0;
  }
}

.testimonials p, .testimonials h1, .testimonials h2 {
  padding-left: 20%;
}

@media (max-width: 767px) {
  .testimonials p, .testimonials h1, .testimonials h2 {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (max-width: 575px) {
  .testimonials p, .testimonials h1, .testimonials h2 {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.testimonials .item-test {
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 50px;
}

@media (max-width: 767px) {
  .testimonials .item-test {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 390px) {
  .testimonials .item-test {
    margin-left: 0;
  }
  .testimonials .item-test .name {
    display: none !important;
  }
  .testimonials .item-test .video-container {
    margin-right: 0px;
  }
}

.testimonials .item-test .name {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#383838));
  background: linear-gradient(180deg, #000000 0%, #383838 100%);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 95%;
  position: absolute;
  left: -62px;
  top: 0;
  width: 50px;
  font-family: "Kanit", sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 900;
}

.testimonials .item-test .video-container {
  width: 265px;
  height: 100%;
  background-color: #D88100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials .item-test .video-container .video-testimonial {
  width: 100%;
  height: 97%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
  margin-left: -15px;
}

.subscribe {
  padding-top: 50px;
  padding-bottom: 50px;
  background-position: top right;
  background-size: cover;
}

.subscribe #email {
  width: 60% !important;
  min-width: 184px;
}

.subscribe .btn-primary {
  width: 175px;
  height: 45px;
  font-size: 0.6em !important;
}

.subscribe .title, .subscribe .title-section {
  margin-left: -15px;
}

.subscribe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
}

.subscribe .container-subscribe {
  z-index: 5;
}

.subscribe .title-section {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 575px) {
  .subscribe form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .subscribe .title, .subscribe .title-section {
    margin-left: 0;
  }
  .subscribe .btn-primary {
    margin-left: 0 !important;
    margin-top: 30px;
  }
  .subscribe #email {
    width: 80% !important;
    min-width: 184px;
  }
}

footer {
  margin-top: 100px;
  font-family: "Kanit";
}

@media (max-width: 767px) {
  footer li {
    text-align: center;
  }
}

.my-logo {
  width: 100px;
  height: 100px;
  background-image: url("../logo blanco amarillo.png") !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-decoration: none;
}

footer a:hover {
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
  color: #FF9900;
}

footer a:hover {
  color: #FF9900;
}

footer .copyright {
  background-color: black;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
}

footer .copyright span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 16px;
}

@media (max-width: 576px) {
  footer .copyright span {
    text-align: center;
    padding: 5px;
  }
}

@media (max-width: 576px) {
  footer .copyright {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

footer h2 {
  font-family: "Poppins-Bold";
  font-size: 0.9em;
  color: #FF9900;
}

@media (max-width: 768px) {
  footer a {
    word-break: break-all;
  }
}

footer i {
  font-size: 1em;
  margin-right: 8px;
}

footer li a {
  font-size: 0.75em;
}

.container-more-footer ul {
  list-style: none;
}

.container-more-footer ul i {
  font-size: 1em;
}

.container-quick-links ul {
  list-style: none;
}

.container-quick-links ul li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .my-logo {
  width: 200px;
  height: 200px;
}

@media (max-width: 768px) {
  footer .my-logo {
    width: 200px;
    height: 200px;
  }
}
